.page-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px;

}


html {
    background: linear-gradient(to bottom, white, 6%, #c6d7b9);
}

html,
body,
#pepstore,
#pepstore>div {
    /* height: 100%; */
    /* background: linear-gradient(to bottom, white, 6%, #c6d7b9); */
    min-height: 100%;
}

#pepstore {
    /* padding: 30px; */
    /* background: linear-gradient(to bottom, white, 6%, #c6d7b9); */
}

.box-shadow {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

.content-box {
    background-color: white 1 !important;
    --bs-white-rgb: 255, 255, 255;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
    padding: 1.5rem !important;
    border-radius: var(--bs-border-radius-2xl) !important;
    --bs-border-radius-2xl: 2rem;
}